body{
    background-color: #c0c0c0;
    width:100%;
}


#form, #search{
  width:50%;
    border: 3px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#all{
    width:50%;
    border: 3px solid black;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

td{
    border: solid 2px black;
    padding: 2px 5px 2px 5px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

